<h1>Добро пожаловать!</h1>
<p>Тащемта, чёта тут будет</p>
<p><%= link_to 'Список станций', :controller => 'stations', :action => 'list' %>
<p><%= link_to 'Список поставщиков', :controller => 'providers', :action => 'list' %>
