<h1>Список пользователей</h1>
<table>
	<% if @users.nil?%>
	<% else %>
  <% @users.each do |u| %>
    <tr>
      <td><%= u.username %></td>
    </tr>
  <% end %>
	<% end %>
</table>
<p><%= link_to 'Вернуться в панель', :controller => 'operator', :action => 'my_account' %>
<p><%= link_to 'Вернуться на главную', :controller => 'main', :action => 'index' %>
