<h1>Самолёты:</h1>
  <%= show_list(@plains) %>
  
<h1>Вагоны поездов:</h1>
  <%= show_list(@wagons) %>
  
<h1>Автобусы:</h1>
  <%= show_list(@buses) %>

<p><%= link_to 'На главную', :controller => 'main' %></p>
